$black: #000000;
$white: #ffffff;
$gray20: #333333;
$gray63:#A1A1A1;


$gray-cod: #120F10;
$orange-karry: #FFEBD6;
$orange-carrot: #EF9026;
$browne-cocoa: #3A1E00;


$orange: $orange-carrot;

$body-color: $gray-cod;

$colors: (
  "orange": $orange,
);

// Theme Colors Overrides
$primary : $orange;

// Prefix for :root CSS variables
$variable-prefix: cu-;

// Font
$font-family-sans-serif: 'Poppins', sans-serif;

$font-family-base: var(--#{$variable-prefix}font-sans-serif);

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-mini: $font-size-base * 0.625;
$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1.125;
$font-size-lg: $font-size-base * 1.25;
$font-size-large: $font-size-base * 3.25;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$font-weight-base: $font-weight-normal;

// Form
// scss-docs-start form-label-variables
$form-label-margin-bottom:              .25rem;
$form-label-font-size:                  $font-size-xs;
$form-label-font-weight:                $font-weight-semibold;
$form-label-color:                      $body-color;

$input-focus-box-shadow:                none;
$input-btn-focus-box-shadow:            none;

// scss-docs-start form-input-variables
$input-padding-y:                       1rem;
$input-padding-x:                       1rem;
$input-font-size:                       $font-size-sm;
$input-color:                           $gray20;
// $input-bg:                              transparent;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;
$input-placeholder-color:               $gray63;
$input-border-radius:                   0.375rem;